{% extends "base.html" %}

{% block content %}

    <div class="container-fluid">

      <div class="row">
          <div class="col-sm-2 col-sm-push-10" style="text-align: center">
              <div class="panel panel-default">
                  <div class="panel-heading"><span class="glyphicon glyphicon-stats"></span> Current Readings</div>
                  <div class="panel-body">
                      <div class="" id="tempAmbient"></div>
                      <br>
                      <div class="" id="tempInternal"></div>
                      <br>
                      <div class="" id="speedFan"></div>
                  </div>
              </div>


          </div>

          <div class="col-sm-8">

              <div class="panel panel-default">
                  <div class="panel-heading"><i class="fa fa-line-chart"></i> Cook Statistics </div>
                      <div class="panel-body">
                          <div id="cookStatistics"></div>
                      </div>

              </div>

          </div>

    </div>
    </div>



<script>
$( document ).ready(function() {
    var tempAmbientGuage = new JustGage({
        id: "tempAmbient",
        value: 0,
        min: 0,
        max: 200,
        title: "Ambient Temperature"
    });

    var tempInternalGuage = new JustGage({
        id: "tempInternal",
        value: 0,
        min: 0,
        max: 200,
        title: "Internal Temperature"
    });

    var speedFanGuage = new JustGage({
        id: "speedFan",
        value: 0,
        min: 0,
        max: 200,
        title: "Blower Speed"
    });

    var cookStatistics = new Morris.Line({
  // ID of the element in which to draw the chart.
  element: 'cookStatistics',
  // Chart data records -- each entry in this array corresponds to a point on
  // the chart.
  data: [

  ],
  // The name of the data record attribute that contains x-values.
  xkey: 'tempAmbient',
  // A list of names of data record attributes that contain y-values.
  ykeys: ['id'],
  // Labels for the ykeys -- will be displayed when you hover over the
  // chart.
  labels: ['tempAmbient']
});





    setInterval(function() {

        $.getJSON("http://localhost/api/sensordata/", function(data) {
            tempAmbientGuage.refresh(data[data.length - 1].tempAmbient,200);
            tempInternalGuage.refresh(data[data.length - 1].tempInternal,200);
            speedFanGuage.refresh(data[data.length - 1].speedFan,200);
            cookStatistics.setData(data);
        })

    }, 5000);

});

function drawCircles() {


  var g = new JustGage({
    id: "tempAmbient",
    value: 67,
    min: 0,
    max: 100,
    title: "Visitors"
  });



}

function updateCircles() {
    console.log("Run");



}

</script>

{% endblock content %}